<main class="mainIndex">
  <div class="input-container">
    <input
      type="text"
      name="text"
      class="input"
      id="text"
      placeholder="search..."
    />
    <span class="icon">
      <svg
        id="search"
        width="19px"
        height="19px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g><g id="SVGRepo_iconCarrier">
          <path
            opacity="1"
            d="M14 5H20"
            stroke="#000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            opacity="1"
            d="M14 8H17"
            stroke="#000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2"
            stroke="#000"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            opacity="1"
            d="M22 22L20 20"
            stroke="#000"
            stroke-width="3.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g></svg>
    </span>
  </div>
  <section
    id="products"
    class="d-flex flex-wrap justify-content-evenly w-100 mt-2 mb-4"
  >
    {{#each products}}
      <a href="/products/{{this._id}}" class="card m-2 anchor">
        <img
          src="{{this.photo}}"
          class="card-img-top object-fit-cover"
          alt="{{this.title}}"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{this.title}}</h5>
        </div>
      </a>
    {{/each}}
  </section>
  <div class="w-100 d-flex justify-content-center">
    {{#if prev}}
      <a
        class="btn btn-primary fs-5 m-4 mt-0"
        href="/?title={{filter}}&page={{prev}}"
      >PREV</a>
    {{/if}}
    {{#if next}}
      <a
        class="btn btn-primary fs-5 m-4 mt-0"
        href="/?title={{filter}}&page={{next}}"
      >NEXT</a>
    {{/if}}
  </div>
</main>

<script src="/js/index.js"></script>